{% load static %}
<html>
    <head>
        <title>
            LeafNow-Reforest The World
        </title>
        <link rel="stylesheet" href="{% static 'secondstyle.css' %}">

    </head>
    <header>
        <a class="headingss" href="http://127.0.0.1:8000/">Logout</a>
        <h1 class="headss"><b>LeafNow</b></h1>
        <ul>
            <!-- <li><a class="aligns">Home</a></li> -->
            <li><a class="aligns"href="http://127.0.0.1:8000/accounts/donate">Donate</a></li>
            <li><a class="aligns"href="http://127.0.0.1:8000/accounts/connect">Connect</a></li>
            <li><a class="aligns"href="http://127.0.0.1:8000/accounts/pledge">Pledge</a></li>
        </ul>
        
    </header> 
       <body>
        <img align="right" src="{% static 'images/LeafNow.jpg' %}" width="250" height="170">
        <h1 class="rcolor"><b>It's high time we realise the need to safeguard this environment for our future</b></h1>
       
        <hr>
        <hr>
        
        <h2>Donate! Environment need us as much as we need it!</h2>
        
        <p>
            <h3 class="headingss"><b><span style="background-color:darkseagreen">Why LeafNow?</span></b></h3>
            <div class="coloured">

            The natural environment or natural world encompasses all living and non-living things occurring naturally. <br> Ever since industrialisation started the care for plants has made it to our least priority
            list,<br> even though mankind requires plants to balance the food chain that he's a part of.<br> As responsible beings we need to come forward to conserve the precious gift we are bestowed upon.<br>
            Environmental Conservation is the practice of preserving the natural world to prevent it from collapsing as a result of human activities.<br>
            We, through this would take the responsibility, offering each and every human being the ability to work their part.<br>
            One can <mark><b>Pledge</b></mark> for future donations, <mark><b>Donate </b></mark> for each sapling they wish to plant.
            People can <mark><b>Connect</b></mark>with anyone or everyone who are enthusiatic equally.
            <br>
            <br>
            </div>
        

                
           <div class="aligns container">
                <img src="{% static 'images/imagetrees.jpg' %}"
                alt="tree" style="width:90%;">
                <div class="Do your part! Save future!"></div>
            </div>
            <br>
            <video class="aligns" width="100%" controls>
                <source src="{% static 'images/SAVE TREE ANIMATED STORY.mp4' %}"
                type="video/mp4">

            </video>
            <br>
            <!--<h2><b>Connect with millions of people here:</b></h2>
            <button class="boxes">Connect</button> 
            <br>
            <h2><b>One step can chage the world:</b></h2>
            <button class="boxes">Donate</button> 
            <br>
            <h2><b>Pledge to save the Mother Earth for the future:</b></h4>
            <button class="boxes">Pledge</button>-->
            
        </p>
    </body>
    <!--
    <div class+"container">
        <img src="imagetrees.jpg"
        alt="tree" style="width:100%;">
        <div class="Do your part! Future is in your hands">Right</div>
    </div>-->
</html>
