{% load static %}
<html>
    <head>
        <title>
            Pledge Form
        </title>
        <link rel="stylesheet" href="{% static 'pledge.css'%}">
    </head>
<body>
    <h1><b>Pledge Form</b></h1>
<div class="container">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">India</option>
        <option value="usa">USA</option>
        <option value="europe">Europe</option>
      </select>
  
      <label for="subject">I hereby pledge that</label>
      <textarea id="subject" name="subject" placeholder="I would take care of the Mother Earth for my future generation...." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
</html>
